body {
  background-color: #e8e8e8;
  margin: 2rem;
  font-family: "Roboto", sans-serif;
}
p,
li,
i {
  font-size: small;
}
h1 {
  margin-bottom: 1px;
}

.main-container {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 2rem;
}
.info,
.ingredients,
.procedure {
  border: 2px solid #c6bd7b;
  border-radius: 3px;
  padding: 1rem;
}
.info {
  grid-column: 1 / 5;
  grid-row: 1;
}
.ingredients {
  grid-column: 5/7;
  grid-row: 1;
}
.image-container {
  grid-column: 1 / 7;
  grid-row: 2;
  text-align: center;
}

.image-container > img:nth-child(1) {
  margin-right: 2rem;
}

img {
  width: 40%;
  height: auto;
}

.procedure {
  grid-column: 1 / 7;
  grid-row: 3;
}

ul > li:nth-child(2) > strong {
  color: green;
}

/* Numbered order list style */
ol {
  counter-reset: li; /* Initiate a counter */
}
ol > li {
  position: relative; /* Create a positioning context */
  margin: 0 0 10px 10px; /* Give each list item a left margin to make room for the numbers */
  padding: 4px 8px; /* Add some spacing around the content */
  list-style: none; /* Disable the normal item numbering */
}
ol > li:before {
  content: counter(li); /* Use the counter as content */
  counter-increment: li; /* Increment the counter by 1 */
  /* Position and style the number */
  position: absolute;
  top: -2px;
  left: -2em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 2em;
  padding: 4px;
  border: 1px solid #c6bd7b;
  border-radius: 20px;
  text-align: center;
}

/* mobile version */
@media only screen and (max-width: 600px) {
  body {
    margin: 1rem;
    overflow-x: scroll;
  }
  .main-container {
    display: block;
  }
  div {
    margin-bottom: 1rem;
  }
  img {
    width: 100%;
    height: auto;
  }
  .image-container > img:nth-child(1) {
    margin: 0 0 1rem 0;
  }
}
